{
    "production":   false,
    "privkey":      "/var/keys/macports-privkey.pem",
    "buildboturl":  "http://domain.tld:8010/",
    "slaveprefix":  "/opt/local",
    "toolsprefix":  "/opt/mports",
    "deploy": {
        "maxcdn": {
            "secrets": "/var/keys/maxcdn-secrets.json",
        },
        "www": {
            "host": "",
            "user": "",
            "sshkeyfile": "",
            "sshknownhostsfile": "ssh_known_hosts",
            "destpath": "",
            "maxcdnzoneid": 0
        },
        "portindex": {
            "host": "",
            "user": "",
            "sshkeyfile": "",
            "sshknownhostsfile": "ssh_known_hosts",
        },
        "guide": {
            "host": "",
            "user": "",
            "sshkeyfile": "",
            "sshknownhostsfile": "ssh_known_hosts",
            "destpath": "",
            "maxcdnzoneid": 0
        },
        "man": {
            "host": "",
            "user": "",
            "sshkeyfile": "",
            "sshknownhostsfile": "ssh_known_hosts",
            "destpath": ""
        }
    }
}
