{
    "production":   false,
    "privkey":      "/var/keys/macports-privkey.pem",
    "buildboturl":  "http://domain.tld:8010/",
    "githubsecret": "",
    "slaveprefix":  "/opt/local",
    "toolsprefix":  "/opt/mports",
    "deploy": {
        "www": {
            "host": "",
            "user": "",
            "sshkeyfile": "",
            "sshknownhostsfile": "ssh_known_hosts",
            "destpath": ""
        },
        "guide": {
            "host": "",
            "user": "",
            "sshkeyfile": "",
            "sshknownhostsfile": "ssh_known_hosts",
            "destpath": ""
        }
    }
}
