{
    "build_platforms": [
        "10.5_ppc",
        "10.5_ppc_legacy",
        "10.6_x86_64",
        "10.6_x86_64_legacy",
        "10.6_i386",
        "10.6_i386_legacy",
        "10.7_x86_64",
        "10.7_x86_64_legacy",
        "10.8_x86_64",
        "10.8_x86_64_legacy",
        "10.9_x86_64",
        "10.10_x86_64",
        "10.11_x86_64",
        "10.12_x86_64",
        "10.13_x86_64"
    ],
    "slaves": {
        "jobs": "",
        "base-10.5_ppc": "",
        "ports-10.5_ppc_legacy": "",
        "base-10.6_x86_64": "",
        "ports-10.6_i386": "",
        "ports-10.6_i386_legacy": "",
        "ports-10.6_x86_64": "",
        "ports-10.6_x86_64_legacy": "",
        "base-10.7_x86_64": "",
        "ports-10.7_x86_64": "",
        "ports-10.7_x86_64_legacy": "",
        "base-10.8_x86_64": "",
        "ports-10.8_x86_64": "",
        "ports-10.8_x86_64_legacy": "",
        "base-10.9_x86_64": "",
        "ports-10.9_x86_64": "",
        "base-10.10_x86_64": "",
        "ports-10.10_x86_64": "",
        "base-10.11_x86_64": "",
        "ports-10.11_x86_64": "",
        "base-10.12_x86_64": "",
        "ports-10.12_x86_64": "",
        "base-10.13_x86_64": "",
        "ports-10.13_x86_64": ""
    }
}
